@model CreateFAQDto
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Admin/Index.cshtml";
}

<h1>Yeni Soru oluştur</h1>

<form method="post">
    <label>Soru</label>
    <input asp-for="Question" class="form-control" />
    <br />
    <label>Cevap</label>
    <textarea asp-for="Answer" class="form-control" rows="3"></textarea>
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>

