@model UpdateCategoryDto
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Areas/Admin/Views/Admin/Index.cshtml";
}


<h1>Kategori Güncelle</h1>

<form method="post">
    <input type="hidden" asp-for="Id"/>
    <label>Kategori Adı</label>
    <input asp-for="Name" class="form-control" />
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>

